 
section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f8, #dff1ff);
  
}

section .color {
  position: absolute;
  filter: blur(300px);
}

section .color:nth-child(1){
  top: -350px;
  width: 80%;
  height: 100%;
  background: #ff359b;
}

section .color:nth-child(2){
  bottom: -150px;
  left: 50%;
  width: 500px;
  height: 500px;
  background: #fffd87;
}

section .color:nth-child(3){
  top: 30%px;
  left: 100px;
  width: 300px;
  height: 300px;
  background: #00d2ff;
}

.App{
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: auto auto;

} 






